<!-- blister -->
<label for="id_edicion">Edición</label>
<select name="id_edicion">
    <% for (let edicion of ediciones) { %>
    <option value="<%- edicion.id %> "><%- edicion.edicion %> </option>
    <% } %>
</select>

<!-- arte -->
<div class="form-group">
    <label for="arte">Artista</label>
    <input type="text" name="arte" class="form-control" id="arte" placeholder="arte">
</div>



<!-- dado -->
<!-- caras -->
<div class="form-group">
    <label for="caras">Caras</label>
    <input type="number" name="caras" class="form-control" id="caras" placeholder="caras">
</div>
<!-- color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" name="color" class="form-control" id="color" placeholder="color">
</div>



<!-- carta -->

<!-- tipo -->
<div class="form-group">
    <label for="tipo">Tipo</label>
    <input type="text" name="tipo" class="form-control" id="tipo" placeholder="tipo">
</div>
<!-- subtipo -->
<div class="form-group">
    <label for="subtipo">Subtipo</label>
    <input type="text" name="subtipo" class="form-control" id="subtipo" placeholder="subtipo">
</div>
<!-- oracle -->
<div class="form-group">
    <label for="oracle">Oracle text</label>
    <input type="text" name="oracle" class="form-control" id="oracle" placeholder="oracle">
</div>
<!-- flavortext -->
<div class="form-group">
    <label for="flavortext">Flavortext</label>
    <input type="text" name="flavortext" class="form-control" id="flavortext" placeholder="flavortext">
</div>
<!-- mana -->
<div class="form-group">
    <label for="mana">Mana</label>
    <input type="text" name="mana" class="form-control" id="mana" placeholder="mana">
</div>
<!-- ataque -->
<div class="form-group">
    <label for="ataque">Ataque</label>
    <input type="text" name="ataque" class="form-control" id="ataque" placeholder="ataque">
</div>
<!-- Defensa -->
<div class="form-group">
    <label for="Defensa">Ataque</label>
    <input type="text" name="Defensa" class="form-control" id="Defensa" placeholder="Defensa">
</div>

<label for="id_edicion">Edición</label>
<select name="id_edicion">
    <% for (let edicion of ediciones) { %>
    <option value="<%- edicion.id %> "><%- edicion.edicion %> </option>
    <% } %>
</select>

<!-- color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" name="color" class="form-control" id="color" placeholder="color">
</div>

<input type="checkbox" id="color incoloro" name="incoloro" value="colorless">
<label for="incoloro">Incoloro</label><br>
<input type="checkbox" id="color azul" name="azul" value="blue">
<label for="azul">Azul</label><br>
<input type="checkbox" id="color blanco" name="blanco" value="white">
<label for="blanco">Blanco</label><br>
<input type="checkbox" id="color negro" name="negro" value="black">
<label for="negro">Negro</label><br>
<input type="checkbox" id="color rojo" name="rojo" value="red">
<label for="rojo">Rojo</label><br>
<input type="checkbox" id="color verde" name="verde" value="green">
<label for="verde">Verde</label><br>


<!-- folio -->


<!-- color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" name="color" class="form-control" id="color" placeholder="color">
</div>




<!-- packs -->

<label for="id_edicion">Edición</label>
<select name="id_edicion">
    <% for (let edicion of ediciones) { %>
    <option value="<%- edicion.id %> "><%- edicion.edicion %> </option>
    <% } %>
</select>

<!-- color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" name="color" class="form-control" id="color" placeholder="color">
</div>