<!-- blister -->
<span class="hide" id="blister">
    <h3 style="color:green;">BLISTER</h3>
    <label for="id_edicion">Edición</label>
    <select name="id_edicion">
        <% for (let edicion of ediciones) { %>
        <option value="<%- edicion.id %>"><%- edicion.nombre %> - <%- edicion.anio %></option>
        <% } %>
    </select>
    <div class="form-group">
        <label for="id_arte">Artista</label>
        <select name="id_arte">
            <% for (let arte of artes) { %>
            <option value="<%- arte.id %>"><%- arte.artista %></option>
            <% } %>
        </select>
    </div>
</span>


<!-- carta -->
<span class="hide" id="carta">
    <h3 style="color:green;">CARTA</h3>
    <!-- tipo -->
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <label for="id_arte">Artista</label>
        <select name="id_arte">
            <% for (let tipo of tipos) { %>
            <option value="<%- tipo.id %>"><%- tipo.tipo %></option>
            <% } %>
        </select>
    </div>
    <!-- subtipo -->
    <div class="form-group">
        <label for="subtipo">Subtipo</label>
        <input type="text" name="subtipo" class="form-control" id="subtipo" placeholder="subtipo">
    </div>
    <!-- oracle -->
    <div class="form-group">
        <label for="oracle">Oracle text</label>
        <input type="text" name="oracle" class="form-control" id="oracle" placeholder="oracle">
    </div>
    <!-- flavortext -->
    <div class="form-group">
        <label for="flavortext">Flavortext</label>
        <input type="text" name="flavortext" class="form-control" id="flavortext" placeholder="flavortext">
    </div>
    <!-- mana -->
    <div class="form-group">
        <label for="mana">Mana</label>
        <input type="text" name="mana" class="form-control" id="mana" placeholder="mana">
    </div>
    <!-- ataque -->
    <div class="form-group">
        <label for="ataque">Ataque</label>
        <input type="text" name="ataque" class="form-control" id="ataque" placeholder="ataque">
    </div>
    <!-- Defensa -->
    <div class="form-group">
        <label for="Defensa">Ataque</label>
        <input type="text" name="Defensa" class="form-control" id="Defensa" placeholder="Defensa">
    </div>
    <label for="id_edicion">Edición</label>
    <select name="id_edicion">
        <% for (let edicion of ediciones) { %>
        <option value="<%- edicion.id %> "><%- edicion.edicion %> </option>
        <% } %>
    </select>
    <!-- id_arte -->
    <label for="id_arte">Artista</label>
    <select name="id_arte">
        <% for (let arte of artes) { %>
        <option value="<%- arte.id %>"><%- arte.artista %></option>
        <% } %>
    </select>
    <!-- color -->
    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" name="color" class="form-control" id="color" placeholder="color">
    </div>
    <input type="checkbox" id="color incoloro" name="incoloro" value="colorless">
    <label for="incoloro">Incoloro</label><br>
    <input type="checkbox" id="color azul" name="azul" value="blue">
    <label for="azul">Azul</label><br>
    <input type="checkbox" id="color blanco" name="blanco" value="white">
    <label for="blanco">Blanco</label><br>
    <input type="checkbox" id="color negro" name="negro" value="black">
    <label for="negro">Negro</label><br>
    <input type="checkbox" id="color rojo" name="rojo" value="red">
    <label for="rojo">Rojo</label><br>
    <input type="checkbox" id="color verde" name="verde" value="green">
    <label for="verde">Verde</label><br>
</span>





<span class="hide" id="dado">
    <!-- dado -->
    <!-- caras -->
    <h3 style="color:green;">DADO</h3>
    <div class="form-group">
        <label for="caras">Caras</label>
        <input type="number" name="caras" class="form-control" id="caras" placeholder="caras">
    </div>
    <!-- color -->
    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" name="color" class="form-control" id="color" placeholder="color">
    </div>
</span>




<span class="hide" id="folio">
    <!-- folio -->
    <h3 style="color:green;">FOLIO</h3>
    <!-- color -->
    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" name="color" class="form-control" id="color" placeholder="color">
    </div>
</span>


<!-- packs -->
<span class="hide" id="pack">
    <h3 style="color:green;">PACK</h3>
    <label for="id_edicion">Edición</label>
    <select name="id_edicion">
        <% for (let edicion of ediciones) { %>
        <option value="<%- edicion.id %> "><%- edicion.nombre %> - <%- edicion.anio %> </option>
        <% } %>
    </select>
    <!-- color -->
    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" name="color" class="form-control" id="color" placeholder="color">
    </div>
</span>