<article class="container-product">
    <% for (let i=0;i<mainArrays.cartas.length;i++) {  %>

    <div class="box-index">
        <a class="a-productlink" href="/product/<%= mainArrays.cartas[i].productData.id %>">
            <img class="img-product-index" src="/img/product/<%= mainArrays.cartas[i].pics[0].dataValues.url %>"
                alt="product">
        </a>
        <h4 class="name-product-index"><%- mainArrays.cartas[i].productData.nombre %></h4>
        <h5 class="price-product-index">$<%- mainArrays.cartas[i].productData.precio %></h5>
        <div>
            <% if (mainArrays.cartas[i].productData.borrado||mainArrays.cartas[i].productData.stock==0) { %>
                <h4 style="color:red;font-size: 0.8rem;">Fuera de stock!</h4>
            <% } else{ %>
                <a href="/user/saveToCart/<%= mainArrays.cartas[i].productData.id %>">
                    <button type="button" class="btn btn-success btn-rounded cartButton">Añadir al carrito! <i class="fa fa-shopping-cart"></i></button>
                </a>
            <% } %>
        </div>
        </div>

    <% } %>
</article>