            <p>tipo subtipo: <%- detalle.tipos.tipo %> - <%- detalle.subtipo %> </p>
            <p>edicion: <%- detalle.ediciones.dataValues.anio %> - <%- detalle.ediciones.dataValues.nombre %> </p>
            <p>oracle: <%- detalle.oracle %> </p>
            <p>flavortext: <%- detalle.flavortext %> </p>
            <p>limitado: <%- detalle.limitado %> </p>
            <p>color: <%- detalle.colores.color %> - mana: <%- detalle.mana %> </p>
            <p>ataque-defensa <%- detalle.ataque %>/<%- detalle.defensa %>  </p>
            <p>arte: <%- detalle.artes.artista %> </p>
