<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <script src="/js/productDetail.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/productD.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main class="container main-productD">
        <div class="row row-edit">
            <div class="col-sm-5 col-xs-12 div-img-productD">
                <% if (typeof pictures[0] != "undefined") { %>
                <img class="img-productD" src="/img/product/<%= pictures[0].url %>">
                <% } else { %>
                <img class="img-productD" src="/img/product/hammer.jpeg">
                <% } %>
                </img>
            </div>
            <div class="col-sm-5 col-xs-12 detail-important" id="mainDiv">
                <h1> <%- product.nombre %> </h1>
                <p>Quedan: <%- product.stock %>. </p>
                <p>Cuestan: $<%- product.precio %> cada uno.</p>
                <p>Es de la categoría: <%- product.categorias.categoria %>.</p>
                <% if (product.borrado) {%>
                <p>BORRADO</p>
                <% } %>
                <% if (userLoggedStatus.userType === 2) { %>
                <button id="user-delete-btn" class="btn btn-success">Añadir al carrito <i class="fa fa-shopping-cart"></i></button>
                <% } else{ %>
                <button id="user-delete-btn" class="btn btn-secondary">Editar producto <i class="fas fa-edit"></i></button>
                <% } %>
            </div>
        </div>
    </main>

    <section class="container secondary-description">
        <% switch (product.categorias.categoria) { case "blister":%>
        <!-- blisters -->

        <%- include("partials/detail-blister") %>

        <% ;break;case "carta":%>
        <!-- cartas -->

        <%- include("partials/detail-card") %>

        <% ;break;case "dado":%>
        <!-- dados -->

        <%- include("partials/detail-dice") %>

        <% ;break;case "folio":%>
        <!-- folios -->

        <div class="row">
            <div class="col-12">
                <h3>Color</h3>
                <p><%- detalle.color %> </p>
            </div>
        </div>

        <% ;break;case "pack":%>
        <!-- packs -->

        <%- include("partials/detail-packs") %>

        <% } %>
    </section>
    <footer><%- include("partials/footer") %></footer>
</body>

</html>