<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/register.css" />
    <script src="/js/editProduct.js"></script>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <main>
        <a class="" href="../public/img/register.png" alt="mensaje_registro_producto"></a>
        <!-- Frase -->
        <!-- Formulario -->

        <div class="container">
            <h1 class="frase">
                Edición de producto:</h1>
            <form method="POST"  action="/product/<%= producto.id %>/update?_method=PATCH">
                <!-- name -->
                <div class="form-group">
                    <label for="nombre">Nombre de producto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto.nombre %>">
                </div>

                <!-- price -->
                <div class="form-group">
                    <label for="precio">Precio del producto</label>
                    <input type="text" name="precio" class="form-control" id="precio" value="<%= producto.precio %>">
                </div>
                <!-- stock, number -->
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" class="form-control" id="stock" value="<%= producto.stock %>">
                </div>
                <div class="invalid-feedback">Example invalid custom select feedback</div>

                <!-- description -->
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea name="descripcion" class="form-control" id="descripcion" rows="3"
                        value="<%= producto.descripcion %>"></textarea>
                </div>

                <!-- category -->
                <label for="id_categoria">Categoria</label>
                <select name="id_categoria">
                    <% for (let categoria of categorias) { %>
                    <option <% if (categoria.id == producto.id_categoria) { %> selected <% } %>
                        value="<%- categoria.id %>"><%- categoria.categoria %></option>
                    <% } %>
                </select>
                <button class="btn btn-primary" type="submit">Editar producto</button>

            </form>
        </div>
    </main>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>