<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/addProduct.css" />
    <script src="/js/validacionProducto.js"></script>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <main>
        <h1>Editar producto</h1>
        <form method="POST" enctype="application/x-www-form-urlencoded" action="/product/<%- product.id %>/update?_method=PATCH" id="mainForm">
            <!-- name -->
            <div class="form-group">
                <label for="nombre">Nombre </label>
                <input type="text" class="form-control" id="nombre" name="nombre"
                    placeholder="Ej: Manual del Jugador Dungeons & Dragons 3.5" value="<%- product.nombre %>">
            </div>

            <!-- price, number -->
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" step="any" name="precio" class="form-control" id="precio" placeholder="Ej: 150.50" value="<%- product.precio %>" >
            </div>
            <!-- stock -->
            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="number" min="0" name="stock" class="form-control" id="stock" placeholder="Stock" value="<%- product.stock %>">
            </div>
            <div class="invalid-feedback">Example invalid custom select feedback</div>

            <!-- description -->
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" class="form-control" id="descripcion" rows="3"
                    placeholder="Condiciones, detalles, consideraciones varias."><%- product.descripcion %></textarea>
            </div>
            <span class="hide" id="carta">
                <!-- tipo -->
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select name="id_tipo">
                        <% for (let tipo of tipos) { %>
                        <option <% if (tipo.dataValues.id == detalle.dataValues.id_tipo) { %> selected <% } %> value="<%- tipo.dataValues.id %>"><%- tipo.dataValues.tipo %></option>
                        <% } %>
                    </select>
                </div>
                <!-- subtipo -->
                <div class="form-group">
                    <label for="subtipo">Subtipo</label>
                    <input type="text" name="subtipo" class="form-control" id="subtipo" value="<%- detalle.dataValues.subtipo %>"placeholder="subtipo">
                </div>
                <!-- oracle -->
                <div class="form-group">
                    <label for="oracle">Oracle text</label>
                    <input type="text" name="oracle" class="form-control" id="oracle" placeholder="oracle" value="<%- detalle.dataValues.oracle %>">
                </div>
                <!-- flavortext -->
                <div class="form-group">
                    <label for="flavortext">Flavortext</label>
                    <input type="text" name="flavortext" class="form-control" id="flavortext" placeholder="flavortext" value="<%- detalle.dataValues.flavortext %>">
                </div>
                <!-- mana -->
                <div class="form-group">
                    <label for="mana">Mana</label>
                    <input type="text" name="mana" class="form-control" id="mana" placeholder="mana" value="<%- detalle.dataValues.mana %>">
                </div>
                <!-- ataque -->
                <div class="form-group">
                    <label for="ataque">Ataque</label>
                    <input type="text" name="ataque" class="form-control" id="ataque" placeholder="ataque" value="<%- detalle.dataValues.ataque %>">
                </div>
                <!-- defensa -->
                <div class="form-group">
                    <label for="defensa">Defensa</label>
                    <input type="text" name="defensa" class="form-control" id="defensa" placeholder="defensa" value="<%- detalle.dataValues.defensa %>">
                </div>
                <div class="form-group">
                    <label for="id_edicion">Edición</label><br>
                    <select name="id_edicion">
                        <% for (let edicion of ediciones) { %>
                        <option <% if (edicion.dataValues.id == detalle.dataValues.id_edicion) { %> selected <% } %> value="<%- edicion.dataValues.id %>"><%- edicion.dataValues.anio %> - <%- edicion.dataValues.nombre %></option>
                        <% } %>
                    </select>
                </div>
                <!-- id_arte -->
                <div class="form-group">
                    <label for="id_arte">Artista</label><br>
                    <select name="id_arte">
                        <% for (let arte of artes) { %>
                        <option <% if (arte.dataValues.id == detalle.dataValues.id_arte) { %> selected <% } %> value="<%- arte.dataValues.id %>"><%- arte.dataValues.artista %></option>
                        <% } %>
                    </select>
                </div>
                <!-- color -->
                <label for="color">Color/es</label>
                <div>
                    <span id="colorBox">
                        <input type="checkbox" id="color azul" name="azul" value="blue" <% if (colores[0]==1) { %> checked <% } %> >
                        <label for="azul">Azul</label>
                    </span>
                    <span id="colorBox">
                        <input type="checkbox" id="color blanco" name="blanco" value="white" <% if (colores[1]==1) { %> checked <% } %> >
                        <label for="blanco">Blanco</label>
                    </span>
                    <span id="colorBox">
                        <input type="checkbox" id="color negro" name="negro" value="black" <% if (colores[2]==1) { %> checked <% } %> >
                        <label for="negro">Negro</label>
                    </span>
                    <span id="colorBox">
                        <input type="checkbox" id="color rojo" name="rojo" value="red" <% if (colores[3]==1) { %> checked <% } %> >
                        <label for="rojo">Rojo</label>
                    </span>
                    <span id="colorBox">
                        <input type="checkbox" id="color verde" name="verde" value="green" <% if (colores[4]==1) { %> checked <% } %> >
                        <label for="verde">Verde</label>
                    </span>
                    <span id="colorBox">
                        <input type="checkbox" id="color incoloro" name="incoloro" value="colorless" <% if (colores[5]==1) { %> checked <% } %> >
                        <label for="incoloro">Incoloro</label>
                    </span>
                </div>
                <input type="hidden" name="id_categoria" value="2">
                <button type="submit">Editar producto</button>
            </span>
        </form>

    </main>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>