<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <!-- <link rel="stylesheet" href="/stylesheets/cart.css" /> -->
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
  <header>
    <%- include("partials/header") %>
    <!--%- mainArrays.cartas[0].productData.nombre %-->
    <!-- mainArrays.cartas[0].productCategoryData.nombre -->
  </header>
  <main>
  <!-- carousel -->
  <%- include("partials/carousel-index") %>
  </main>

  <h1>mas vendidos</h1>

  <%- include("partials/container-products") %>

  <h1>nuevos</h1>

  <%- include("partials/container-products") %>

  <h1>se agotan</h1>

  <%- include("partials/container-products") %>

  <footer>
    <%- include("partials/footer") %>
  </footer>