<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <!-- <link rel="stylesheet" href="/stylesheets/cart.css" /> -->
  <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>

<body>
  <header>
    <%- include("partials/header") %>
    <!--%- mainArrays.cartas[0].productData.nombre %-->
    <!-- mainArrays.cartas[0].productCategoryData.nombre -->
  </header>
  <main>
  <!-- carousel -->
  <%- include("partials/carousel-index") %>
  </main>

  <h1 class="title-section">Mejorá tu equipamiento!</h1>
  <!-- CARTAS -->
  <%- include("partials/container-products") %>

  <h1 class="title-section">Descubrí nuevos mundos!</h1>
  <!-- packs y blisters -->
  <%- include("partials/container-products") %>

  <h1 class="title-section">Subí el nivel de tu juego!</h1>
  <!-- dados y folios -->
  <%- include("partials/container-products") %>

  <footer>
    <%- include("partials/footer") %>
  </footer>