<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("partials/head") %>
	<link rel="stylesheet" href="/stylesheets/products.css">
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<link rel="stylesheet" href="/stylesheets/productSearch.css">
</head>

<body>
	<header>
		<%- include("partials/header") %>
	</header>
	<article class="sidenav">
		<div class="card-body d-flex container">
			<!-- <h5 class="card-title">Filtrar por tipos</h5>
			<div class="break"> </div> -->
			<ul class="list-menu list-types row" id="categoryList">
				<li class="col-2-lg col-2-md col-4-sm"><a href="/product?categoryQuery=3">
					<button class="btn btn-info btn-rounded">
						Dado</a>
					</button>
				</li>
				<li class="col-2-lg col-2-md col-4-sm"><a href="/product?categoryQuery=2">
					<button class="btn btn-info btn-rounded">
						Cartas </a>
					</button>
				</li>
				<li class="col-2-lg col-2-md col-4-sm"><a href="/product?categoryQuery=1">
					<button class="btn btn-info btn-rounded">
						Blisters
					</a></li>
					</button>
				<li class="col-2-lg col-2-md col-4-sm"><a href="/product?categoryQuery=5">
						<button class="btn btn-info btn-rounded">
							Packs</a>
					</button>
				</li>
				<li class="col-2-lg col-2-md col-4-sm"><a href="/product?categoryQuery=4">
						<button class="btn btn-info btn-rounded">
							Folios</a>
					</button>
				</li>
			</ul>
		</div>
		<!--div class="card-body ">
			<h5 class="card-title">Colores</h5>

			<div class="row">
				<div class="col-md-6">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" checked="" class="custom-control-input">
						<div class="custom-control-label">Rojo</div>
					</label>
				</div>
				<div class="col-md-6">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" checked="" class="custom-control-input">
						<div class="custom-control-label">Verde</div>
					</label>
				</div>
				<div class="col-md-6">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" checked="" class="custom-control-input">
						<div class="custom-control-label">Azul</div>
					</label>
				</div>
				<div class="col-md-6">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" checked="" class="custom-control-input">
						<div class="custom-control-label">Negro</div>
					</label>
				</div>
				<div class="col-md-6">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<div class="custom-control-label">Blanco</div>
					</label>
				</div>
				<div class="col-md-6">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" checked="" class="custom-control-input">
						<div class="custom-control-label">Incoloro </div>
					</label>
				</div>
			</div>
		</div-->
	</article>
	<hr style="height:2px;border-width:0;color:gray;background-color:gray">
	<div class="container-product">

		<% for (let index=0;index<productList.length;index++) { %>
		<div class="box-index">
			<a href="/product/<%= productList[index].dataValues.id %>">
				<img id="img-product-index" src="/img/product/
				<% if (typeof picArray[index][0] != "undefined") { %>
						<%= picArray[index][0].dataValues.url %>
					<% } else { %>
						hammer.jpeg %>
						<% } %>
						" alt="product"></a>
			<h4><%- productList[index].dataValues.nombre %></h4>
			<h5 style="color:darkgreen;">$<%- productList[index].dataValues.precio %></h5>
			<% if (productList[index].dataValues.borrado) { %> <h4 style="color:red;font-size: 0.8rem;">Fuera de stock!
			</h4><% } %>
			<a href="/user/saveToCart/<%= productList[index].dataValues.id %>">
				<button type="button" class="btn btn-success btn-rounded">Añadir al carrito! <i
						class="fa fa-shopping-cart"></i></button>
			</a>
		</div>
		<% } %>
		<% if (productList.length == 0) { %>
		<p style="color:red;">Por el momento no tenemos ese producto. </p>
		<% } %>

	</div>

	<footer>
		<%- include("partials/footer") %>
	</footer>
</body>