<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/user-account.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <h1 class="title-user-account">Bienvenid@ <%- user.nombre_de_usuario %></h1>

    <main>
        <div class="account-pic-div ">
            <img id="img-user-account" width="15%" src="/img/user_avatar/1594837840822.png"></img>
            <p>
                NOMBRE: <%- user.nombre %> <br>
                APELLIDO: <%- user.apellido %> <br>
            </p>
        </div>
        <div class="account-logout-div">
            <form name="logout" method="post" action="/user/logout">
                <label for="logoutB">
                    <button name="logoutB" type="submit" id="logoutB" value="logout" class="btn btn-success">Log out</button>
                </label>
            </form>
            <a href="/user/edit/<%= user.id %>">
            <button id="user-edit-btn"class="btn btn-success">Editar usuario</button></a>
            <% if (userLoggedStatus === 2) { %>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus-square"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/product/add/1">Blisters</a>
                    <a class="dropdown-item" href="/product/add/2">Cartas</a>
                    <a class="dropdown-item" href="/product/add/3">Dados</a>
                    <a class="dropdown-item" href="/product/add/4">Folios</a>
                    <a class="dropdown-item" href="/product/add/5">Packs</a>
                </div>
            </div>
            <% } %>
            <a href="/user/delete/<%= user.id %>">
            <button id="user-delete-btn" class="btn btn-danger">Borrar usuario</button></a>

        </div>
    </main>
    <div class="clearfix"></div>
    <div>

    </div>
    <footer><%- include("partials/footer") %></footer>
</body>

</html>