<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/user-account.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <main class="container main-userA">
        <div class="row">
            <div class="col-sm-5 col-xs-12 div-img-userA">
                <img id="img-userA" src="/img/user_avatar/<%= user.pic %>"></img>
            </div>
            <div class="col-sm-5 col-xs-12 detail-important">
                <!-- NAME -->
                <h3>
                    <%- user.nombre %> <br>
                    <%- user.apellido %> <br>
                </h3>
                <!-- LOG OUT -->
                <form name="logout" method="post" action="/user/logout">
                    <label for="logoutB">
                        <button name="logoutB" type="submit" id="logoutB" value="logout" class="btn btn-success">Salir</button>
                    </label>
                </form>
                <!-- EDIT -->
                <a href="/user/edit/<%= user.id %>">
                    <button id="user-edit-btn"class="btn btn-success">Editar</button>
                </a>
                <!-- DELETE -->
                <a href="/user/delete/<%= user.id %>">
                    <button id="user-delete-btn" class="btn btn-danger">Borrar usuario</button>
                </a>
                <!-- ADD -->
                <% if (userLoggedStatus.userType === 2) { %>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus-square"></i>
                        </a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/product/add/1">Blisters</a>
                        <a class="dropdown-item" href="/product/add/2">Cartas</a>
                        <a class="dropdown-item" href="/product/add/6">Dados</a>
                        <a class="dropdown-item" href="/product/add/4">Folios</a>
                        <a class="dropdown-item" href="/product/add/5">Packs</a>
                    </div>
                <% } %>
            </div>
        </div>
    </main>

    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>

</html>