<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/register.css" /> -->
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>
    <div class="signup-form">
    <form action="/user/login" method="post">
		<h2>lOGIN</h2>
		<p class="hint-text">Sign up with your social media account or email address</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
			<a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
		</div>
		<div class="or-seperator"><b>or</b></div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg" name="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
        	<input type="email" class="form-control input-lg" name="email" placeholder="Email Address" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
        </div>
                    <!-- id_pais -->
            <select name="id_pais">
                <% for (let pais of paises) { %>
                <option value="<%- pais.id %> "><%- pais.pais %> </option>
                <% } %>
            </select>
            <!-- pic -->
            <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Login</button>
        </div>
    </form>
    <div class="text-center">No tienes cuenta? <a href="/user/register">Registrate aqui</a></div>
</div>
    </main>

    <footer class="bg-secondary"><%- include("partials/footer") %></footer>
</body>

</html>