<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/user.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <h1 class="">Bienvenid@ <%- user.nombre_de_usuario %></h1>

        <form name="logout" method="post" action="/user/logout">
            <label for="logoutB">
                <input name="logoutB" type="submit" id="logoutB" value="logout">
            </label>
        </form>
        <p>
            Nombre completo: <%- user.nombre %> <%- user.apellido %><br>
            <img src="/img/user_avatar/<%= user.pic %>"></img>
        </p>
        <a href="/user/edit/<%= user.id %>">
            <button class="btn btn-success">Editar usuario</button></a>
        <% if (userLoggedStatus === 2) { %>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Añadir productos
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/product/add/1">Blisters</a>
                <a class="dropdown-item" href="/product/add/2">Cartas</a>
                <a class="dropdown-item" href="/product/add/3">Dados</a>
                <a class="dropdown-item" href="/product/add/4">Folios</a>
                <a class="dropdown-item" href="/product/add/5">Packs</a>
            </div>
        </div>
        <% } %>



        <a href="/user/delete/<%= user.id %>">
            <button class="btn btn-danger">Borrar usuario</button></a>

    </main>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>